---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

A Vessel manages a single, unique game server instance with its own identity. Each Vessel represents one specific server that players connect to directly.

Vessels are ideal for game servers that maintain persistent state, have unique identities (often with custom names), or appear in server lists. They're commonly used for dedicated servers where players expect to reconnect to the same specific instance.

For games with persistent state that require persistent storage, please contact your Customer Success Manager to discuss your use case and enable this alpha feature.

For details check the <a href="https://docs.gamefabric.com/multiplayer-servers/getting-started/glossary#vessel">GameFabric documentation</a>.


## Example Usage - Simple Vessel

This example sets up a minimal vessel.

{{ tffile "examples/resources/gamefabric_vessel/simple_vessel.tf" }}

## Advanced Usage

This example demonstrates how to create multiple vessels for different game modes.
It will create 3 vessels for each game mode within europe and configure the game modes and server names via environment variables.

{{ tffile "examples/resources/gamefabric_vessel/vessels_and_gametypes.tf" }}


{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig .HasImportIdentityConfig }}

## Import

Import is supported using the following syntax:
{{- end }}

{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}
{{- end }}