---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

A volume represents a storage resource that can be attached to vessels to provide persistent storage capabilities. Volumes are essential for game servers that require data persistence across server restarts or deployments, such as saving player progress and game states.

This is currently a beta feature. Please contact your Customer Success Manager to discuss your use case and enable this feature.

{{ if .HasExample -}}
## Example Usage
This example creates a volume and mounts it into a vessel on the path `/data` within the gameserver container.

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig .HasImportIdentityConfig }}

## Import

Import is supported using the following syntax:
{{- end }}

{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}
{{- end }}
