---
page_title: "Provider: {{ .RenderedProviderName }}"
description: |-
  GameFabric Terraform Provider
---

# Terraform provider for {{ .RenderedProviderName }}

{{ .Description }}

## Example Usage

A typical provider configuration looks like this and requires setting up a service account in GameFabric with appropriate permissions.
See [GameFabric Documentation](https://docs.gamefabric.com/multiplayer-servers/getting-started/authentication#managing-service-accounts) for more details on creating service accounts and [managing permissions](https://docs.gamefabric.com/multiplayer-servers/getting-started/editing-permissions).

It is strongly advised to provide the password using the `GAMEFABRIC_PASSWORD` environment variable for security reasons.

{{ tffile "examples/provider/provider.tf" }}

If both `host` and `customer_id` are set, the provider expects both to result in the same effective host. For example, if `customer_id` is set to `customerID`, the provider expects `host` to be `customerID.gamefabric.dev`. If they do not match, the provider will return an error.

### Environment Variables

The following environment variables can be used to configure the provider:

- `GAMEFABRIC_HOST`: The GameFabric API host for example: `example.gamefabric.dev`.
- `GAMEFABRIC_CUSTOMER_ID`: The customer ID (first segment of your installation URL). If your installation URL is `customerID.gamefabric.dev`, set this to `customerID`.
- `GAMEFABRIC_SERVICE_ACCOUNT`: The service account username.
- `GAMEFABRIC_PASSWORD`: The service account password.

{{ .SchemaMarkdown }}
