---
page_title: "Provider: {{ .RenderedProviderName }}"
description: |-
  GameFabric Terraform Provider
---

# Terraform provider for {{ .RenderedProviderName }}

{{ .Description }}

## Example Usage

The provider can use either a service account or an interactive SSO login (OAuth2 Authorization Code Flow) for authentication.

### Interactive SSO Login

When both `service_account` and `password` are omitted, the provider automatically opens your browser for interactive SSO login (OAuth2 Authorization Code Flow).
This is the recommended authentication method for local development, testing and running Terraform manually.

{{ tffile "examples/provider/provider-sso.tf" }}

### Service Account Authentication

When both `service_account` and `password` are provided, the provider uses the service account for authentication.
This should be used for automated workflows, such as CI/CD pipelines, where interactive login is not feasible.

This authentication method requires setting up a service account in GameFabric with appropriate permissions.
See [GameFabric Documentation](https://docs.gamefabric.com/multiplayer-servers/getting-started/authentication#managing-service-accounts) for more details on creating service accounts and [managing permissions](https://docs.gamefabric.com/multiplayer-servers/getting-started/editing-permissions).

It is strongly advised to provide the password using the `GAMEFABRIC_PASSWORD` environment variable for security reasons.

{{ tffile "examples/provider/provider.tf" }}

If both `host` and `customer_id` are set, the provider expects both to result in the same effective host. For example, if `customer_id` is set to `customerID`, the provider expects `host` to be `customerID.gamefabric.dev`. If they do not match, the provider will return an error.

### Environment Variables

The following environment variables can be used to configure the provider:

- `GAMEFABRIC_HOST`: The GameFabric API host for example: `example.gamefabric.dev`.
- `GAMEFABRIC_CUSTOMER_ID`: The customer ID (first segment of your installation URL). If your installation URL is `customerID.gamefabric.dev`, set this to `customerID`.
- `GAMEFABRIC_SERVICE_ACCOUNT`: The service account username.
- `GAMEFABRIC_PASSWORD`: The service account password.
- `GAMEFABRIC_ENFORCE_AUTH_METHOD`: Force a specific authentication method. Valid values are `service_account` or `browser`. If not set, the provider will automatically choose the authentication method based on the provided configuration.

{{ .SchemaMarkdown }}
