---
page_title: "GameFabric Provider"
description: |-
  GameFabric Terraform Provider
---

# GameFabric Provider


## Example Usage

A typical provider configuration looks like this.

It is strongly advised to provide the password using the `GAMEFABRIC_PASSWORD` environment variable for security reasons.

{{ tffile "examples/provider/provider.tf" }}

### Environment Variables

The following environment variables can be used to configure the provider:

- `GAMEFABRIC_HOST`: The GameFabric API host URL.
- `GAMEFABRIC_CUSTOMER_ID`: The customer ID.
- `GAMEFABRIC_SERVICE_ACCOUNT`: The service account username.
- `GAMEFABRIC_PASSWORD`: The service account password.

{{ .SchemaMarkdown }}
