name: Build

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      GOPROXY: https://${{ secrets.GOPROXY }},direct
      GONOSUMDB: ${{ secrets.GONOSUMDB }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Proxy Credentials
        uses: extractions/netrc@v2
        with:
          machine: ${{ secrets.GOPROXY }}
          username: ${{ secrets.GOPROXY_USERNAME }}
          password: ${{ secrets.GOPROXY_TOKEN }}

      - name: Install Go
        id: install-go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Cache Go mod
        id: gomod
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Cache Go build
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-go-build-

      - name: Download dependencies
        run: go mod download
        if: steps.gomod.outputs.cache-hit != 'true'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --snapshot --skip=sign
