name: Go TFPluginDocs Check

permissions:
  contents: read
  id-token: write

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      GOPROXY: https://${{ secrets.GOPROXY }},direct
      GONOSUMDB: ${{ secrets.GONOSUMDB }}
      TFPLUGINDOCS_VERSION: v0.23.0
    steps:
      - name: Checkout code
        uses: actions/checkout@v5


      - name: Setup Proxy Credentials
        uses: extractions/netrc@v2
        with:
          machine: ${{ secrets.GOPROXY }}
          username: ${{ secrets.GOPROXY_USERNAME }}
          password: ${{ secrets.GOPROXY_TOKEN }}

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Cache Go mod
        id: gomod
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Check for Go Tool
        id: go-tool
        run: |
          if go tool | grep -q "github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs"; then
            echo "installed=true" >> $GITHUB_OUTPUT
          else
            echo "installed=false" >> $GITHUB_OUTPUT
          fi

      - name: Install TFPluginDocs Gen
        if: ${{ steps.go-tool.outputs.installed == 'false' }}
        run: go install -mod=readonly github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@${{ env.TFPLUGINDOCS_VERSION }}

      - name: Run TFPluginDocs Check
        run: |
          make docs-gen
          
          echo "==> Checking TFPluginDocs Generation"
          git diff --exit-code --quiet ./
