name: Check docs

permissions:
  contents: read
  id-token: write

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Check:
    runs-on: ubuntu-latest
    env:
      GOPROXY: https://${{ secrets.GOPROXY }},direct
      GONOSUMDB: ${{ secrets.GONOSUMDB }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5


      - name: Setup Proxy Credentials
        uses: extractions/netrc@v2
        with:
          machine: ${{ secrets.GOPROXY }}
          username: ${{ secrets.GOPROXY_USERNAME }}
          password: ${{ secrets.GOPROXY_TOKEN }}

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Cache Go mod
        id: gomod
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Run TFPluginDocs Check
        run: |
          make docs-gen
          
          echo "==> Checking TFPluginDocs Generation"
          git diff --exit-code --quiet ./
